* Fatigue calculation:
####### initial settings #########################################
STRESS FACTORS       1           1        1
PARAMETER BINSIZE        0.1
##################################################################
DEF STRING $opt     /P/F/X
